#app {
    background-color: antiquewhite;
    margin: auto;
    max-width: 1500px;
}

.game-body>div>div {
    display: flex;
}

.reset-button {
    height: 40px;
    margin-left: 50px;
    margin-top: 32px;
}

.reset-button>button {
    width: 200px;
    height: 60px;
}

.header-icon {
    height: 135px;
    width: 140px;
    background-image: url('../images/gomoku-logo.jpg');
}

.header-area {
    display: flex;
    background-color: #485779;
    margin-bottom: 30px;
}

.header-area>h1 {
    padding-top: 10px;
    padding-left: 50px;
    font-size: 45px;
    color: #f0ffff;
}

 .require-login {
    margin-left: 40px;
    margin-bottom: 20px;
 }

.login-area {
    margin-left: 72px;
    display: flex;
}

.login-area>div:nth-child(1) {
    margin-right: 123px;
}

.login-area>div:nth-child(2) {
    margin-right: 5px;
}

.login-area>div:nth-child(3) {
    margin-right: 0;
}

.login-input>div>input {
    height: 46px;
}

.login-button>button {
    width: 100px;
    height: 46px;
}

.active-player {
    color: red;
}

.winner {
    color: darkgreen;
    font-size: 48px;
    font-weight: bold;
}

.card-panel {
    margin-left: 58px;
}

.ui.active-player-card, .ui.cards>.active-player-card {
    background-color: powderblue;
}

.ui.player-card, .ui.cards>.player-card {
    background-color: white;
}

.ui.card, .ui.cards>.card {
    margin-right: 90px;
}

.game {
    width: 60%;
    display: flex;
    margin-left: 40px;
}

.column {

}

.unit {
    position: relative;
}

.rect {
    height: 20px;
    width: 20px;
    border: solid 1px black;
}

.piece {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.piece-shadow {
    background: lightgray;
    opacity: 0.4;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}

.piece-hide {
    display: none;
}

.cell>div {
    display: flex;
}

.cell>div:first-of-type>div:first-of-type {
    border-top: none;
    border-left: none;
}

.cell>div:first-of-type>div:last-of-type {
    border-top: none;
    border-right: none;
}

.cell>div:last-of-type>div:first-of-type {
    border-bottom: none;
    border-left: none;
}

.cell>div:last-of-type>div:last-of-type {
    border-bottom: none;
    border-right: none;
}

.first-column-cells>div:first-of-type>div:first-of-type {
    border-bottom: none;
}

.first-column-cells>div:last-of-type>div:first-of-type {
    border-top: none;
}

.last-column-cells>div:first-of-type>div:last-of-type {
    border-bottom: none;
}

.last-column-cells>div:last-of-type>div:last-of-type {
    border-top: none;
}

.first-row-cells>div:first-of-type>div:first-of-type {
    border-right: none;
}

.first-row-cells>div:first-of-type>div:last-of-type {
    border-left: none;
}

.last-row-cells>div:last-of-type>div:first-of-type {
    border-right: none;
}

.last-row-cells>div:last-of-type>div:last-of-type {
    border-left: none;
}
