#app {
    background-color: antiquewhite;
    margin: auto;
    max-width: 1500px;
}

.game-body>div>div {
    display: flex;
}

.header-icon {
    height: 135px;
    width: 140px;
    background-image: url('../images/gomoku-logo.jpg');
}

.header-area {
    display: flex;
    background-color: #485779;
    margin-bottom: 30px;
}

.header-area>h1 {
    padding-top: 10px;
    padding-left: 50px;
    font-size: 45px;
    color: #f0ffff;
}

 .require-login {
    margin-left: 40px;
    margin-bottom: 20px;
 }

.login-area {
    margin-left: 100px;
    width: 40%;
}

.login-area>div:first-of-type {
    margin-bottom: 10px;
}

.login-area>input {
    width: 80%;
}

.game {
    width: 60%;
    display: flex;
    margin-left: 40px;
}

.column {

}

.unit {
    position: relative;
}

.rect {
    height: 20px;
    width: 20px;
    border: solid 1px black;
}

.piece {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.piece-shadow {
    background: lightgray;
    opacity: 0.4;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}

.piece-hide {
    display: none;
}

.cell>div {
    display: flex;
}

.cell>div:first-of-type>div:first-of-type {
    border-top: none;
    border-left: none;
}

.cell>div:first-of-type>div:last-of-type {
    border-top: none;
    border-right: none;
}

.cell>div:last-of-type>div:first-of-type {
    border-bottom: none;
    border-left: none;
}

.cell>div:last-of-type>div:last-of-type {
    border-bottom: none;
    border-right: none;
}
