#app {
    background-color: antiquewhite;
    margin: auto;
    max-width: 870px;
}

select.ui.dropdown {
    height: 47px;
}

.game-body>div>div {
    display: flex;
}

.reset-button {
    height: 40px;
    margin-left: 50px;
    margin-top: 32px;
}

.reset-button>button {
    width: 200px;
    height: 60px;
}

.header-icon {
    height: 135px;
    width: 140px;
    background-image: url('../images/gomoku-logo.jpg');
}

.header-area {
    display: flex;
    background-color: #485779;
    margin-bottom: 30px;
}

.header-area>h1 {
    padding-top: 10px;
    padding-left: 50px;
    font-size: 45px;
    color: #f0ffff;
}

.login-area {
    margin-left: 72px;
    display: flex;
}

.login-area>div:nth-child(1) {
    margin-right: 125px;
}

.card-panel {
    display: flex;
    margin-left: 58px;
}

.card-panel>div:first-of-type {
    margin-right: 100px;
}

.card-panel>div:last-of-type {
    margin-right: 0;
}

.name-card {
    border-radius: .28571429rem;
    width: 290px;
    max-width: 100%;
    box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #D4D4D5;
    background-color: white;
    transition: box-shadow .1s ease,transform .1s ease,-webkit-transform .1s ease;
}

.name-card-win {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 3;
    -webkit-animation-duration: 1s;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    animation-duration: 1s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.name-card-active {
    background-color: powderblue;
}

.card-header {
    padding: 15px 15px 5px 15px;
    display: flex;
}

.card-img {
    background-image: url('../images/steve.jpg');
    background-size: cover;
    margin-left: 25px;
    height: 40px;
    width: 40px;
}

.star-area {
    display: flex;
}

.star {
    background-image: url('../images/gold-star.png');
    background-size: cover;
    height: 45px;
    width: 45px;
}

.player-side {
    font-weight: 700;
    font-size: 1.28571429em;
    font-family: 'Helvetica Neue';
    color: #707070;
    position: relative;
    top: -20px;
}

.name {
    font-weight: 700;
    font-size: 1.5em;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    width: 80%;
}

.card-content {
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.card-info-extra {
    border-top: 1px solid rgba(34,36,38,.1);
    transition: color .1s ease;
    padding-top: 10px;
    padding-bottom: 10px;
}

.game {
    width: 60%;
    display: flex;
    margin-left: 40px;
}

.unit {
    position: relative;
}

.rect {
    height: 20px;
    width: 20px;
    border: solid 1px black;
}

.piece {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.piece-shadow {
    background: lightgray;
    opacity: 0.4;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}

.piece-hide {
    display: none;
}

.cell>div {
    display: flex;
}

.cell>div:first-of-type>div:first-of-type {
    border-top: none;
    border-left: none;
}

.cell>div:first-of-type>div:last-of-type {
    border-top: none;
    border-right: none;
}

.cell>div:last-of-type>div:first-of-type {
    border-bottom: none;
    border-left: none;
}

.cell>div:last-of-type>div:last-of-type {
    border-bottom: none;
    border-right: none;
}

.first-column-cells>div:first-of-type>div:first-of-type {
    border-bottom: none;
}

.first-column-cells>div:last-of-type>div:first-of-type {
    border-top: none;
}

.last-column-cells>div:first-of-type>div:last-of-type {
    border-bottom: none;
}

.last-column-cells>div:last-of-type>div:last-of-type {
    border-top: none;
}

.first-row-cells>div:first-of-type>div:first-of-type {
    border-right: none;
}

.first-row-cells>div:first-of-type>div:last-of-type {
    border-left: none;
}

.last-row-cells>div:last-of-type>div:first-of-type {
    border-right: none;
}

.last-row-cells>div:last-of-type>div:last-of-type {
    border-left: none;
}

@-webkit-keyframes spinner {
    from { -webkit-transform: rotateY(0deg);    }
    to   { -webkit-transform: rotateY(-360deg); }
}

/* all other browsers */
@keyframes spinner {
    from {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}
